<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bitacademy.java41.oldboy.dao.RoomPathDao">
	
	<insert id="addRoomPathList" parameterType="java.util.List"> 
        insert into ROOM_PATH
        	( ROOM_NO, PATH_RANK, PATH_NAME, PATH_LAT, PATH_LNG ) 
        values
        <foreach collection="list" item="roomPath" separator=",">          
        	( #{roomPath.roomNo}, #{roomPath.pathRank}, #{roomPath.pathName}, #{roomPath.pathLat}, #{roomPath.pathLng} )
		</foreach> 
    </insert>
    
	
	<select id="getRoomPathList" parameterType="int" resultType="RoomPath">
	    SELECT
		    	room_no		AS roomNO,
		    	path_rank	AS pathRank,
		    	path_name	AS pathName,
		    	path_lat	AS pathLat,
		    	path_lng	AS pathLng
	    FROM
	    		ROOM_PATH
	    WHERE
	    		1 = 1
   			AND	room_no = #{value}
		ORDER BY 
				path_rank   			
	</select>
    
	
	<delete id="deleteRoomPath" parameterType="map">
		 delete from ROOM_PATH
		<where>
		    <trim prefixOverrides="AND|OR">
				<if test="room != null">
					and ROOM_NO in
					<foreach collection="room" item="item" separator="," open=" (" close=")">
						#{item.roomNo}
					</foreach>
				</if>
			</trim>
		</where>
	</delete>
	
</mapper>